<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>用户列表</h1>
    <div>
        <ul>
            <li  th:each="user:${userList}">
                <span th:text="${user.userId}"></span>-
                <span th:text="${user.userName}"></span>-
                <span th:text="${user.getPassword()}"></span>-
                <span th:text="${user.getPhone()}"></span>
            </li>
        </ul>
    </div>
</body>
</html>